<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="lego3-archetype:create"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="archetypeArtifactId=lego-archetype-web"/>
<listEntry value="useMavenNature=true"/>
<listEntry value="useCheckstyle=true"/>
<listEntry value="prd=${string_prompt:Project's PRD value (e.g.='prd', Code PRD de l'application)?:}"/>
<listEntry value="version=${string_prompt:Project initial version (default=1.0.0, Version initiale du projet)?:}"/>
<listEntry value="versionFwk=${string_prompt:LEGO framework version (default=last LEGO release, Version du framework LEGO)?:}"/>
<listEntry value="hibernate=${string_prompt:Hibernate use for persistence (Utilisation d'Hibernate)?:true}"/>
<listEntry value="ojb=${string_prompt:OJB use for persistence (Utilisation d'OJB)?:false}"/>
<listEntry value="flex=${string_prompt:Flex use for RIA (Utilisation de Flex pour la RIA)?:false}"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="C:\Program Files\MavenCIQ\bin\maven3"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<intAttribute key="M2_THREADS" value="1"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}"/>
</launchConfiguration>
